<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log-path">futuretd-client/logs/</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%date{HH:mm:ss.SSS} [%-16thread %80replace{%location}{^.*?\..*?\..*?\.}{} %5level - %msg%n}"/>
        </Console>
        <Console name="SimpleConsole" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%date{HH:mm:ss.SSS} [%-16thread %40replace{%logger}{^.*?\..*?\..*?\.}{} %-5level - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${log-path}/application.log"
                     filePattern="${log-path}/application%i.log">
            <PatternLayout
                    pattern="%date{HH:mm:ss.SSS} [%-16thread %80replace{%location}{^.*?\..*?\..*?\.}{} %5level - %msg%n"/>
            <DefaultRolloverStrategy fileIndex="min" min="1" max="3"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>